<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Search Bar</string>
		<key>predicate</key>
		<dict>
			<key>predicates</key>
			<array>
				<dict>
					<key>path-components</key>
					<array>
						<string>General Frameworks</string>
						<string>SearchBar.xcodeproj</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Framework Testing</string>
						<string>SearchBarTesting.xcodeproj</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
			</array>
			<key>rule</key>
			<string>any</string>
		</dict>
		<key>source</key>
		<dict>
			<key>file-source</key>
			<string>workspace</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Camera</string>
		<key>predicate</key>
		<dict>
			<key>predicates</key>
			<array>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>Camera</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
			</array>
			<key>rule</key>
			<string>any</string>
		</dict>
		<key>source</key>
		<dict>
			<key>file-source</key>
			<string>workspace</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>TabController</string>
		<key>predicate</key>
		<dict>
			<key>predicates</key>
			<array>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>TabController</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
			</array>
			<key>rule</key>
			<string>any</string>
		</dict>
		<key>source</key>
		<dict>
			<key>file-source</key>
			<string>workspace</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Frameworks</string>
		<key>predicate</key>
		<dict>
			<key>predicates</key>
			<array>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>ARVision</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>Shared</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>TabController</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>Photos</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>Camera</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>Lists</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>Settings</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>SearchBar</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>Utilities</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
			</array>
			<key>rule</key>
			<string>any</string>
		</dict>
		<key>source</key>
		<dict>
			<key>file-source</key>
			<string>workspace</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Find Unified</string>
		<key>predicate</key>
		<dict>
			<key>predicates</key>
			<array>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>Shared</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>TabController</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>Photos</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>Camera</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>SearchBar</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>Highlights</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>MLVision</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>ARVision</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>Lists</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>Settings</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>Popover</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>path-components</key>
					<array>
						<string>Find.xcodeproj</string>
						<string>Utilities</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
			</array>
			<key>rule</key>
			<string>any</string>
		</dict>
		<key>source</key>
		<dict>
			<key>file-source</key>
			<string>workspace</string>
		</dict>
	</dict>
</array>
</plist>
